@model BudgetPlus.Models.Share

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Share</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expense.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwedUser.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
